.controller-resumes {
  &.action-show {
    #main {
      padding-top: 90px;
    }

    #basic {
      text-align: center;
      color: white;
      opacity: 0.9;
    }

    .timeline-date {
      font-style: italic;
    }

    .timeline-body {
      margin-bottom: 35px;
    }

    #education .timeline-content {
      margin-left: 26px;
    }

    #summary {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      border-bottom: solid black 0.5px;
      font-style: italic;
      color: white;
    }

    #main {
      margin-bottom: 200px;
    }
  }

  #basic_background {
    background: url(asset_path('images/hrdarkblue.jpg'));
    background-size: 100% 400px;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    height: 370px;
    width: 100%;
  }
}